@if (isOpen()) {
  <div
    class="modal-backdrop"
    tabindex="0"
    (click)="onBackdropClick($event)"
    (keydown)="onBackdropKeydown($event)"
    (keypress)="onBackdropKeypress($event)"
    (keyup)="onBackdropKeyup($event)"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h2>{{ title() }}</h2>
        <button class="close-btn" type="button" (click)="onClose()">&times;</button>
      </div>
      <div class="modal-body">
        <ng-content />
      </div>
    </div>
  </div>
}
